.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
}

.header {
    height: 7rem;
    font-size: 1.4rem;
    background-color: #fff;
    border-bottom: var(--line);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;

    @media only screen and (max-width: $bp-medium) {
        // strrtch the sidebar to full length
        flex-direction: column;
    }
}

.sidebar {
    background-color: var(--color-grey-dark-1);

    // shorthand prop
    flex: 0 0 18%;
    display: flex;
    // change direction of main axis to top -> bottom
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view {
    background-color: var(--color-grey-light-1);

    flex: 1;
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-2);
    border-bottom: var(--line);
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-direction: column;
    }
}

.description {
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    flex: 0 0 60%;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews {
    // occupy remaining space
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}